.zoomControls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.panButton {
    background: white;
    color: #675D5E;
    border: 1px solid #C7C5D0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panButton:hover {
    background: #f5f5f5;
    border-color: #918F9A;
}

.panButton.active {
    background: #e9ecef;
    color: #007bff;
    border-color: #007bff;
}

.group {
    display: flex;
    background: white;
    border: 1px solid #D0C5C7;
    border-radius: 4px;
    height: 28px;
}

.button {
    background: white;
    border: none;
    border-right: 1px solid #D0C5C7;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #675D5E;
    transition: all 0.2s;
    width: 28px;
    height: 100%;
    border-radius: 0;
}

.button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button:last-child {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button:hover {
    background: #f8f9fa;
    color: #212529;
}

.button.active {
    background: #e9ecef;
    color: #007bff;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
}

.resetButton {
    background: transparent;
    color: #675D5E;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetButton:hover {
    color: #212529;
}