.zoomControls {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.panButton {
    background-color: var(--card-bg);
    color: var(--text-secondary);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panButton:hover {
    background-color: var(--button-hover);
    color: var(--text-primary);
    border-color: var(--text-secondary);
}

.panButton.active {
    background-color: var(--button-active);
    color: #4142EF;
    border-color: #4142EF;
}

.group {
    display: flex;
    background-color: var(--card-bg);
    border: 1px solid var(--border-color);
    border-radius: 4px;
    height: 28px;
}

.button {
    background-color: var(--card-bg);
    border: none;
    border-right: 1px solid var(--border-color);
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
    transition: all 0.2s;
    width: 28px;
    height: 100%;
    border-radius: 0;
}

.button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.button:last-child {
    border-right: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.button:hover {
    background-color: var(--button-hover);
    color: var(--text-primary);
}

.button.active {
    background-color: var(--button-active);
    color: #4142EF;
}

.resetButton {
    background: transparent;
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    height: 28px;
    width: 28px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resetButton:hover {
    color: var(--text-primary);
    background-color: var(--button-hover);
    border-radius: 4px;
}