@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

#root {
  width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FBFBFD;
  color: #1B1B23;
  font-family: 'Roboto', sans-serif;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  outline: none;
}

*:focus {
  outline: none;
}

button:focus,
select:focus,
input:focus {
  outline: none;
}